name: MyMembership Caller Workflow

on:
  workflow_dispatch:
    inputs:
      feature:
        description: 'Which feature to deploy'
        required: true
        type: choice
        options:
          - class_schedule
          - membership
          - training
          - class_schedule_w_shared_action

jobs:
  class-schedule:
    if: github.event.inputs.feature == 'class_schedule'
    uses: ./.github/workflows/class_schedule.yml
    
  class-schedule_w_shared_action:
    if: github.event.inputs.feature == 'class_schedule_w_shared_action'
    uses: ./.github/workflows/class_schedule_using_dvls_shared_action.yml.yml

  membership:
    if: github.event.inputs.feature == 'membership'
    uses: ./.github/workflows/membership.yml

  training:
    if: github.event.inputs.feature == 'training'
    uses: ./.github/workflows/training.yml
